.burger-button {
    @include reset-button;
    @include square(40px);

    position: relative;
    &::after {
        @include abs-center;

        content: '';
        width: 50%;
        height: 2px;
        background-color: var(--color-dark);
        border-radius: 5px;
        box-shadow: 0 -7px, 0 7px;
    }

    @include hover {
        background-color: var(--color-green);
        border-radius: var(--border-radius-big);
    }
}