.pagination {
    &__list {
        display: flex;
        justify-content: center;
        column-gap: 10px;
    }

    &__button {
        @include reset-button;
        @include flex-center;
        @include square(15px);

        color: var(--color-green);

        &.is-current {
            color: var(--color-green);
        }

        @include hover {
            color: var(--color-dark);
        }
    }

    &__title {
        text-align: center;

        @include tablet {
            font-size: 26px;
        }
    }
}